{% extends 'base.html' %}
{% load static %}
{% load svg %}
{% block body_tag %}
    <body class="page-template page-template-templates page-template-landing page-template-templateslanding-php page page-id-6481 page-child parent-pageid-1184">
{% endblock body_tag %}

{% block main_content %}
    <div class="wrapper">
<div class="block block_slide-min block_nav block_yellow block_overflow" id="header" cta-text="Talk to our AI developers" style="background-color: #000000">
<div class="block__content post-block__content post-block__content_medium flex">
<div class="landing-header landing-header_new">
<div class="landing-header__content">
<div class="landing-header__info">
<h1 class="landing-header__title title title_small" style="color: #ffffff;" animation="fade-up" animation-delay=".15">AI solutions
for retail and
ecommerce
</h1>
<div class="landing-header__text" animation="fade-up" animation-delay=".25" style="color: #ffffff">We help cut through the artificial intelligence hype and implement AI in retail for tangible benefits, from smarter operational processes to radically personal customer service
</div>
<button class="landing-header__button button arrow-link arrow-link arrow-link_fixed-opacity" id="cta-header" data-popup="#form" href="#form" animation="fade-up" animation-delay=".35"><span class="arrow-link__text">Talk to our AI <span style="white-space: nowrap">developers<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
<div class="landing-header__picture"><img src="{% static 'images/AI-for-Retail/retail-ai-header.jpg' %}" alt="AI solutions for retail and ecommerce"></div>
</div>
</div>
</div>
</div>
<div class="block" id="ai-know-how" cta-text="">
<div class="block__content block__content_half post-block__content post-block__content_medium">
<div class="landing-info" animation="fade-up" animation-delay=".15">
<h2 class="landing-info__title title title_micro title_mb" animation="fade-up" animation-delay=".15">Our know-how in building AI solutions for retail
</h2>
<div class="landing-info__text landing-info__text_mini">Our approach is to make sure that the retail AI solutions we build for your business meet your specific objectives and KPIs, be they an increase in sales or cost reduction. Before kickstarting product development, we discuss what problems you are trying to solve and thoroughly study your infrastructure and data assets. Only then we scope your AI retail project. Knowledge sharing with your team and customer data security are also core pillars of our approach.</div>
</div>
</div>
</div>
<div class="block" id="ai-know-how" cta-text="Discuss your AI concept">
<div class="block__content post-block__content post-block__content_medium" style="padding-top: 0">
<div class="landing-platforms">
<div class="landing-platforms__item" animation="fade-up" animation-delay="0.15">
<img class="landing-platforms__item-image" src="https://itrexgroup.com/wp-content/uploads/2020/12/business-drivers.svg" alt="business drivers icon" role="presentation" />
<div class="landing-platforms__item-title">Data Mining</br>& Analytics </div>
<div class="landing-platforms__item-text">Leveraging AI to gather, clean, and analyze data about historical sales trends, your customer lifetime value, channel performance, buying behavior patterns, and other critical drivers to improve your retail sales forecasting, inventory management and customer engagement                           </div>
</div>
<div class="landing-platforms__item" animation="fade-up" animation-delay="0.25">
<img class="landing-platforms__item-image" src="https://itrexgroup.com/wp-content/uploads/2021/01/NLP.svg" alt="Natural Language Processing" role="presentation" />
<div class="landing-platforms__item-title">Conversational</br>commerce</div>
<div class="landing-platforms__item-text">Building intelligent chatbots that can automate email communication or interactions with customers on your website, providing answers to their queries  instantly, 24/7. Chatbots help customers make a buying decision while taking over 60% of your help desk activities                          </div>
</div>
<div class="landing-platforms__item" animation="fade-up" animation-delay="0.35">
<img class="landing-platforms__item-image" src="https://itrexgroup.com/wp-content/uploads/2020/12/ROI.svg" alt="ROI icon" role="presentation" />
<div class="landing-platforms__item-title">Personalized</br>experience</div>
<div class="landing-platforms__item-text">Creating smart recommendation engines and other AI solutions to personalize customer experience and your ecommerce product recommendations using data from the customer’s past purchases, search history, or ML-based sentiment analysis                          </div>
</div>
<div class="landing-platforms__item" animation="fade-up" animation-delay="0.45">
<img class="landing-platforms__item-image" src="https://itrexgroup.com/wp-content/uploads/2021/01/CV.svg" alt="Computer Vision" role="presentation" />
<div class="landing-platforms__item-title">Autonomous shopping systems</div>
<div class="landing-platforms__item-text">Bringing in-store experience to greater heights with smart store solutions, from checkout-free shopping to smart shopping carts, which are based on machine learning or computer vision and help enhance social distancing or provide targeted advertising
</div>
</div>
</div>
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity space space_hmt" id="cta-ai-know-how" data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Discuss your AI <span style="white-space: nowrap">concept<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div>
<div class="block" id="ai-solutions">
<div class="landing-image landing-image_text-mode" animation="fade-up" animation-delay=".15">
    <img data-src="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions.jpg" alt=""
         srcset="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions-1920x667.jpg 1920w,
         https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions-1440x500.jpg 1440w,
         https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions-1024x356.jpg 1024w,
         https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions-720x250.jpg 720w,
         https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-solutions-512x178.jpg 512w"
         sizes="100vw"
         alt="retail AI solutions">
    <h2 class="landing-image__content post-block__content post-block__content_medium" animation="fade-up" animation-delay=".15">AI solutions for retail and ecommerce
<span class="yellow">that can supercharge your business</span></h2>
</div>
</div>
<div class="block block_yellow" id="ai-solutions-retail" cta-text="Let’s build your AI solution">
<div class="block__content block__content_half post-block__content post-block__content_medium">
<div class="landing-subheader" animation="fade-up" animation-delay=".15">
<div class="landing-subheader__content">
    <p class="landing-subheader__text landing-subheader__text_small">{% if companyInfo %}An AI company with <strong>{{ companyInfo.years_of_experiences }}+ years of experience</strong>, {% else %}5{% endif %}We know how to make AI your differentiating force in the retail or ecommerce industry. We will help you harness natural language processing for speech recognition, computer vision and machine learning algorithms, including  deep learning and neural networks, to pull out impactful insights from your data for specific applications</p>
</div>
</div>
</div>
</div>
<div class="block" id="" cta-text="Let’s build your AI solution ">
<div class="block__content post-block__content post-block__content_medium">
<div class="landing-accordion">
<div class="landing-accordion__col">
<div class="accordion accordion_small accordion_wide">
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'video-conference' %}
</svg>
<div class="accordion__title">Customer segmentation </div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Leverage customer segmentation machine learning to know customers who respond to new promotions or new products or discounts, or to identify new personalities based on groups of attributes that went unnoticed to a human eye. This will open ample opportunities for better targeting.</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'customer-service' %}
</svg>
<div class="accordion__title">Customer journey mapping </div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Drive and personalize engagement with your customers by analyzing interactions with them at every touchpoint. By gathering data on how your shoppers buy, why and where, AI helps you achieve higher rates of cross-selling/upselling, get more positive social media mentions or flag anomalies in buying patterns at a granular level so that you can speedily remove friction from the customer journey.
</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'cool-emoji' %}
</svg>
<div class="accordion__title">Sentiment analysis</div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Make sentiment analysis extremely easy for predictive analytics, better customer engagement or the identification of key influencers. An NLP and ML-based app that understands the emotional tone of a statement will help you track social media mentions, detect urgent customer service tickets, and guide your team in interactions by gauging human signals.
</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'online-sales' %}
</svg>
<div class="accordion__title">Ecommerce product recommendations </div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Keep an eye on customers’ behavior, including prior purchases and preferences, with AI and ML technologies to personalize interactions with them. Personal product recommendations drive loyalty and conversion rates through tailored offers, location-sensitive recommendations, or recommendations based on a customer’s activity.</div>
</div>
</div>
</div>
</div>
</div>
<div class="landing-accordion__col">
<div class="accordion accordion_small accordion_wide">
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'market-research-analysis' %}
</svg>
<div class="accordion__title">Demand-supply alignment</div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Unlock the power of sales forecasting software and optimize your inventory or product mix with AI that is able to analyze data on local trends and seasonal changes in customer behaviour, whether in-store or online. The valuable insights will allow you to adapt in-store product displays, avoid stockouts, have inventory in the right place and at the right time, and price better.
</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'competition' %}
</svg>
<div class="accordion__title">Competitive intelligence</div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Track your rivals’ digital footprints with automated competitive intelligence programs that bring you relevant competitive intel in real time, enabling your business to respond immediately. A 360-degree view of why you win or lose deals will help your teams improve engagement with customers and grow sales.
</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'server-lock' %}
</svg>
<div class="accordion__title">Fraud prevention</div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Keep cybercrime at bay and secure customer data with AI and deep learning fraud detection software. AI is able to detect and flag suspicious activity in seconds, preventing false returns, employee thefts, loyalty fraud or account takeovers.</div>
</div>
</div>
</div>
<div class="accordion__item">
<div class="accordion__header">
<svg class="accordion__icon">
{% svg 'productivity' %}
</svg>
<div class="accordion__title">Intelligent automation </div>
<div class="accordion__indicator accordion__indicator_cross">
<span></span>
<span></span>
</div>
</div>
<div class="accordion__content" style="height: 0">
<div class="accordion__content-inner">
<div class="accordion__list-line">Boost your shop-front and back-office operations with better customer service, and smart paperwork, staff and product management. Intelligent automation can help you cut expenses on customer support while making it available 24 hours a day, and provide you with granular data on shelf inventory and customer buying patterns.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity space space_hmt" id="cta-" data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Let’s build your AI solution <span style="white-space: nowrap"><span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div>
<div class="block" id="ai-technologies">
<div class="landing-image landing-image_text-mode" animation="fade-up" animation-delay=".15">
<img data-src="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech.jpg" alt=""
srcset="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech-1920x667.jpg 1920w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech-1440x500.jpg 1440w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech-1024x356.jpg 1024w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech-720x250.jpg 720w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-tech-512x178.jpg 512w"
sizes="100vw"
alt="retail AI technology background">          <h2 class="landing-image__content post-block__content post-block__content_medium" animation="fade-up" animation-delay=".15">AI development
<span class="yellow">tech stack</span></h2>
</div>
</div>
<div class="block" id="ai-technologies" cta-text="">
<div class="block__content">
<div class="post-block__content post-block__content_text">
<div class="logo-grid">
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Spark-wide.svg" alt="apache spark logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/tensorflow-bw.svg" alt="tensor flow logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/theano.svg" alt="theano logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/caffe.svg" alt="caffe logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/keras-bw.svg" alt="keras logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/GENSIM.svg" alt="gensim logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Scikit-w.svg" alt="Scikit logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Spacy-w.svg" alt="Spacy logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Amazon-ML-2.svg" alt="Amazon AWS machine learning logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Azure-ML-3.svg" alt="Azure ML logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/python-w.svg" alt="python logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/scala-wide.svg" alt="scala logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Cw.svg" alt="C++ logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/Java-big-w.svg" alt="Java logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/r-logo.svg" alt="r logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/PyTorch.svg" alt="PyTorch logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/OpenCV-bw-big.svg" alt="OpenCV logo">
</span>
</div>
<div class="logo-grid__item">
<span class="logo-grid__item-inner">
<img class="logo-grid__logo" src="https://itrexgroup.com/wp-content/uploads/2020/12/mxnet-bw-sm.svg" alt="mxnet logo">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="block" id="ai-win-customers" cta-text="Let’s build your AI solution ">
<div class="landing-image landing-image_text-mode" animation="fade-up" animation-delay=".15">
<img data-src="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers.jpg" alt=""
srcset="https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers-1920x667.jpg 1920w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers-1440x500.jpg 1440w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers-1024x356.jpg 1024w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers-720x250.jpg 720w,
https://itrexgroup.com/wp-content/uploads/2021/02/retail-AI-customers-512x178.jpg 512w"
sizes="100vw"
alt="AI solutions for retail">          <h2 class="landing-image__content post-block__content post-block__content_medium" animation="fade-up" animation-delay=".15">How AI solutions for retail  <span class="yellow"><br>can win today’s demanding customers</span></h2>
</div>
</div>
<div class="block" id="" cta-text="Let’s build your AI solution ">
<div class="block__content block__content_half post-block__content post-block__content_medium">
<div class="landing-subheader" animation="fade-up" animation-delay=".15">
<div class="landing-subheader__content">
<p class="landing-subheader__text landing-subheader__text_small">Margins are under pressure as buyers are changing behaviors and switching brands, driven by the rise of digital and the COVID-19 crisis. Whether in-store or online, retailers are feeling the impact. With over 70% of customers expecting companies to personalize engagement and use new tech, our  <a class="link" href="{% url 'sTeam' %}" target="_blank" rel="noopener noreferrer">AI development team</a>  is here to make sense of millions of clicks and taps for creating an up-to-scratch offering.</p>
</div>
</div>
</div>
</div>
<div class="block" id="" cta-text="">
<div class="block__content-x">
<div class="landing-rex post-block__content post-block__content post-block__content_text block landing-rex_black block_black">
<div class="landing-rex__rex">
<svg>
{% svg 'rex' %}
</svg>
</div>
<h2 class="landing-rex__title title title_small" animation="fade-up" animation-delay=".15">AI benefits for retail:</h2>
<div class="landing-rex__list">
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">60%</div>
<div class="landing-rex__item-value">of retail firms have increased revenue
<br>through better use of their data assets</div>
</div>
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">71% </div>
<div class="landing-rex__item-value">increase in sales is driven by chatbots</div>
</div>
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">32%</div>
<div class="landing-rex__item-value">revenue growth is attributed to
<br>personalized product recommendations</div>
</div>
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">67%</div>
<div class="landing-rex__item-value">of customers admit that their standards
<br>for good experiences are higher than ever
</div>
</div>
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">85% </div>
<div class="landing-rex__item-value">of customers say being treated like
<br>a person not a number is very important to them
</div>
</div>
<div class="landing-rex__item" animation="fade-up" animation-delay=".15">
<div class="landing-rex__item-title">56%</div>
<div class="landing-rex__item-value">of customers actively seek to buy
<br> from the most innovative companies</div>
</div>
</div>
</div>
</div>
</div>
{% block precious_clients %}
<div class="block" id="clients" cta-text="Get your optimum solution">
            <div class="block__content">
                <h2 class="block__title" animation="fade-up" animation-delay=".15">Hungry for every
                    client’s success</h2>
                <div class="clients" animation="fade-up" animation-delay=".15">
                    <div class="clients__list">
                        {% if clientDetails %}
                            {% for x in clientDetails %}
                                <img class="clients__link" src="{{ x.client_logo.url }}" alt="{{ x.client_name }}"
                                     style="width: 150px;height: 150px"/>
                            {% endfor %}
                        {% endif %}
                        <div class="clients__append"></div>
                    </div>
                </div>
            </div>
            {% if clientDetails %}
                <div class="block__content block__content_black block__content_auto block__content_scroll-tablet">
                    <div class="reviews" animation="fade-up" animation-delay=".15">
                        <div class="reviews__content">
                            {% for client in clientDetails %}
                                {% if client.client_quote %}
                                    {% if forloop.counter == 1 %}
                                        <div class="reviews__item" style="visibility: visible;">
                                            <div class="reviews__title">
                                                {{ client.client_quote }}
                                            </div>
                                            <div class="reviews__author">
                                                <div class="reviews__author-image">
                                                    <img src="{{ client.client_logo.url }}"
                                                         alt="{{ client.client_name }}"></div>
                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">{{ client.client_name }}</div>
                                                    <div class="reviews__author-position">{{ client.client_mail }}</div>
                                                    <div class="reviews__author-company">{{ client.client_address }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="reviews__item">
                                            <div class="reviews__title">
                                                {{ client.client_quote }}
                                            </div>
                                            <div class="reviews__author">
                                                <div class="reviews__author-image">
                                                    <img src="{{ client.client_logo.url }}"
                                                         alt="{{ client.client_name }}"></div>
                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">{{ client.client_name }}</div>
                                                    <div class="reviews__author-position">{{ client.client_mail }}</div>
                                                    <div class="reviews__author-company">{{ client.client_address }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock precious_clients %}

{% block project_content %}
{% if projectDetails %}
                <div class="block block_z-index-up block_relative" id="projects"
                     cta-text="get your project's optimum solution">
                    <div class="block__content">
                        <div class="post-title">
                            <h2 class="block__title post-title__title" animation="fade-up" animation-delay=".15">
                                Our Latest projects
                            </h2>
                        </div>
                    </div>
                    <div class="block__scroll block__scroll_tablet" scroll-destination="posts" animation="fade-up"
                         animation-delay=".15">
                        <div class="posts-list posts-list_slider">
                            <svg style="position: absolute;pointer-events: none" width="0" height="0">
                                <defs>
                                    <clipPath id="thinking-mask" clipPathUnits="objectBoundingBox">
                                        <rect x="0" y="0" width="1" height="1"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            {% for project in projectDetails %}
                                {% if forloop.counter == 1 %}
                                <div class="post post_slider" style="position: relative;visibility: visible">
                                    <div class="post__info">
                                        <div class="post__company">{{ project.project_client }}</div>
                                        <a class="post__title arrow-link arrow-link_fixed-opacity"
                                           href="{% url 'project-details' project.project_slug %}"><span
                                                class="arrow-link__text">{{ project.project_title }}<span
                                                class="arrow-link__arrow"><span
                                                class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                                class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                                    </div>
                                    <a class="post__image" loading="lazy"
                                       href="{% url 'project-details' project.project_slug %}">
                                        <img loading="lazy" src="{{ project.project_preview.url }}"
                                             alt="{{ project.project_title }}">
                                    </a>
                                </div>
                                {% else %}
                                    <div class="post post_slider">
                                    <div class="post__info">
                                        <div class="post__company">{{ project.project_client }}</div>
                                        <a class="post__title arrow-link arrow-link_fixed-opacity"
                                           href="{% url 'project-details' project.project_slug %}"><span
                                                class="arrow-link__text">{{ project.project_title }}<span
                                                class="arrow-link__arrow"><span
                                                class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                                class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                                    </div>
                                    <a class="post__image" loading="lazy"
                                       href="{% url 'project-details' project.project_slug %}">
                                        <img loading="lazy" src="{{ project.project_preview.url }}"
                                             alt="{{ project.project_title }}">
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <div class="posts-list__controlls">
                                <div class="posts-list__ui">
                                    <div class="posts-list__button posts-list__button_left" id="post-prev-item">
                                        <svg class="icon">
                                            {% svg 'arrow-left' %}
                                        </svg>
                                    </div>
                                    <div class="posts-list__button posts-list__button_right" id="post-next-item">
                                        <svg class="icon">
                                            {% svg 'arrow-right' %}
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
{% endblock project_content %}
</div>
{% endblock main_content %}

