{% extends 'base.html' %}
{% load static %}
{% block body_tag %}
    <body class="page-template page-template-templates page-template-landing page-template-templateslanding-php page page-id-10809 page-child parent-pageid-1184">
{% endblock body_tag %}

{% block main_content %}
    <div class="wrapper">
<div class="block block_slide-min block_nav block_yellow block_overflow" id="header" cta-text="Hire a virtual CTO" style="background-color: #000000">
<div class="block__content post-block__content post-block__content_medium flex">
<div class="landing-header landing-header_new">
<div class="landing-header__background-picture landing-header__background-picture_desktop">
<img class="landing-header__background-picture-desktop" src="{% static 'images/cto service/cto-as-a-service.jpg' %}" alt="cto as a service">
<img class="landing-header__background-picture-mobile" src="{% static 'images/cto service/cto-as-a-service.jpg' %}" alt="cto as a service">
</div>
<div class="landing-header__content">
<div class="landing-header__info">
<h1 class="landing-header__title title title_small" style="color: #ffffff;" animation="fade-up" animation-delay=".15">CTO as a Service </h1>
<div class="landing-header__text" animation="fade-up" animation-delay=".25" style="color: #ffffff">Tap into our technical leadership delivered on a CTO as a service basis to bring your boldest business ideas to life, with risks reduced and costs optimized</div>
<button class="landing-header__button button arrow-link arrow-link arrow-link_fixed-opacity" id="cta-header" data-popup="#form" href="#form" animation="fade-up" animation-delay=".35"><span class="arrow-link__text">Hire a virtual <span style="white-space: nowrap">CTO<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
<div class="landing-header__picture landing-header__picture_mobile">
    <img src="{% static 'images/cto service/cto-as-a-service.jpg' %}" alt="cto as a service">
</div>
</div>
</div>
</div>
</div>
<div class="block" id="" cta-text="Go for CTO as a Service">
<div class="block__content post-block__content_medium">
<div class="landing-info">
<h2 class="landing-info__title title title_micro title_mb" animation="fade-up" animation-delay=".15">Top-level virtual CTO services delivered flexibly</h2>
<div class="landing-info__text landing-info__text_mini space space_hmb" animation="fade-up" animation-delay=".15">We help startups and growing SMEs achieve technical diligence through flexible CTO as a Service engagement models. Whether you require an unbiased consultation about your solution, want to fill in the technological leadership gap, or seek ongoing support from an ace virtual CTO — we do it all while staying responsive to your needs.</div>
<div class="landing-info__content landing-info__content_rows landing-info__content_columns_2">
<div class="landing-info__row" animation="fade-up" animation-delay=".15">
<span class="landing-info__name">CTO consulting</span>
<span class="landing-info__name">Full-time CTO</span>
<span class="landing-info__value" style="color: #9A9A9A">The virtual CTO will lead you through the discovery stage, choosing the optimum tech stack, assessing your product’s development costs, and vetting the right talent or solve specific technical issues at the later stages of development</span>
<span class="landing-info__value" style="color: #9A9A9A">As a CTO as a Service vendor, we will provide you the advantage of having an in-house expert, seamlessly integrating into the team, and continuously delivering top-level technical guidance</span>
</div>
<div class="landing-info__row" animation="fade-up" animation-delay=".15">
<span class="landing-info__name">Fractional CTO</span>
<span class="landing-info__name">Interim CTO</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">Our CTO for hire will support your project on an ad-hoc basis, performing an independent audit of your product and processes, advising on product and technology strategy, and supervising the implementation of the necessary changes</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">We will provide for business continuity and deliver the technical leadership and expertise lacking in-house while you’re searching for a permanent CTO</span>
</div>
</div>
</div>
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity space space_hmt" id="cta-" data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Go for CTO as a <span style="white-space: nowrap">Service<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div><div class="block" id="">
<div class="landing-image landing-image_text-mode" animation="fade-up" animation-delay=".15">
<img data-src="https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703.jpg" alt=""
srcset="https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703.jpg 1920w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703.jpg 1440w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703.jpg 1024w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703-720x266.jpg 720w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-consulting-e1624277601703-512x190.jpg 512w"
sizes="100vw"
alt="cto consulting services">
    <h2 class="landing-image__content post-block__content post-block__content_medium" animation="fade-up" animation-delay=".15">
        CTO as a Service:
        <span class="yellow">what we can help you with</span>
    </h2>
</div>
</div>
<div class="block" id="" cta-text="Book a CTO for hire">
<div class="block__content post-block__content_medium">
<div class="landing-info">
<div class="landing-info__text landing-info__text_mini space space_hmb" animation="fade-up" animation-delay=".15">A CTO as a service vendor with a decade of experience guiding complex, innovative projects, we’ll apply our skills to help you achieve technical excellence. No matter the challenge — be it leading your R&D team, allocating resources and budget, or collaborating with stakeholders across the executive board — we’ll make sure your business goals and the development process go hand in hand.</div>
<div class="landing-info__content landing-info__content_rows landing-info__content_columns_3">
<div class="landing-info__row" animation="fade-up" animation-delay=".15">
<span class="landing-info__name">Project planning</span>
<span class="landing-info__name">Project audit and optimization</span>
<span class="landing-info__name">Project scaling</span>
<span class="landing-info__value" style="color: #9A9A9A">Within our CTO as a Service cooperation, we’ll help you devise a business plan, a technical strategy, and a project roadmap, as well as design a solution architecture and set up tools and a team to realize your ideas</span>
<span class="landing-info__value" style="color: #9A9A9A">A virtual CTO will audit your tech stack, product architecture, and development processes to uncover bottlenecks halting your business growth. Then, we’ll devise an optimization plan and lead the improvements rollout</span>
<span class="landing-info__value" style="color: #9A9A9A">If you want to branch out your business or integrate new technology, we can do that, too. The virtual CTO will devise a scaling strategy, design the necessary integrations, and advise techs providing for further scalability</span>
</div>
<div class="landing-info__row" animation="fade-up" animation-delay=".15">
<span class="landing-info__name">R&D</span>
<span class="landing-info__name">Ensuring technical due diligence</span>
<span class="landing-info__name">Technology evangelism</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">A virtual CTO will keep an eye on your research and development process, maintain and expand your current technology and compliance policies, and hunt for the best-fitting tech solutions</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">With CTO as a Service, you’ll win the next round of investments or land a fruitful partnership. We’ll analyze your product, architecture, tech stack, and workflows and draft a product evolution roadmap to keep stakeholders satisfied</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">With CTO as a Service, you’ll win the next round of investments or land a fruitful partnership. We’ll analyze your product, architecture, tech stack, and workflows and draft a product evolution roadmap to keep stakeholders satisfied</span>
</div>
</div>
</div>
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity space space_hmt" id="cta-" data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Book a CTO for <span style="white-space: nowrap">hire<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div>
<div class="block" id="">
<div class="landing-image landing-image_text-mode" animation="fade-up" animation-delay=".15">
<img data-src="https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513.jpg" alt=""
srcset="https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513.jpg 1920w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513.jpg 1440w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513.jpg 1024w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513-720x255.jpg 720w,
https://itrexgroup.com/wp-content/uploads/2021/06/cto-e1624277456513-512x181.jpg 512w"
sizes="100vw"
alt="cto for hire">
    <h2 class="landing-image__content post-block__content post-block__content_medium" animation="fade-up" animation-delay=".15">
        Uncover the benefits of
        <span class="yellow">CTO as a Service for yourself</span>
    </h2>
</div>
</div>
<div class="block" id="" cta-text="Opt for CTO as a Service">
<div class="block__content post-block__content_medium">
<div class="landing-info">
<div class="landing-info__text landing-info__text_mini space space_hmb" animation="fade-up" animation-delay=".15">We will make sure that you get every benefit from our CTO consulting services with CTO-led research and development, competent strategizing, and expert supervision, so you can enjoy technical excellence, with risks mitigated and costs optimized.
</div>
<div class="landing-info__content landing-info__content_rows landing-info__content_columns_4">
<div class="landing-info__row" animation="fade-up" animation-delay=".15">
<span class="landing-info__name">Reduced operational risks</span>
<span class="landing-info__name">Optimized development costs</span>
<span class="landing-info__name">Possibilities for rapid business growth</span>
<span class="landing-info__name">Satisfied investors and executives</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">With a reliable strategy covering risk prevention and mitigation procedures, you can be confident about delivering a quality product even on a tight schedule
</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">A thought-out strategy, a scalable architecture, and robust technology leadership save project budgets, making our CTO as a Service offering an investment with fast ROI</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">With business and technical issues clarified by an experienced virtual CTO, you could pave the way for faster product evolution and expansion</span>
<span class="landing-info__value landing-info__value_no-border" style="color: #9A9A9A">With long-term financial planning and a clear vision of your product’s growth, you can be sure about getting support from investors and executives </span>
</div>
</div>
</div>
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity space space_hmt" id="cta-" data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Opt for CTO as a <span style="white-space: nowrap">Service<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div><div class="block" id="why-itrex" cta-text="Go for CTO as a Service">
<div class="block__content-x">
<div class="landing-list post-block__content post-block__content_text landing-list_whiteyellow">
<div class="landing-list__title" animation="fade-up" animation-delay=".15">What makes {% if companyInfo %}{{ companyInfo.company_name }}{% else %}us{% endif %} a reliable CTO as a Service vendor?
</div>
<div class="landing-list__list">
<div class="landing-list__col">
<div class="landing-list__item" animation="fade-up" animation-delay="0">
<svg class="landing-list__item-icon">
<use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#check"></use>
</svg>
<div class="landing-list__item-text"><b>We are experienced.</b> We’ve got {% if companyInfo %}{{ companyInfo.years_of_experiences }}{% else %}05{% endif %}+ years of experience delivering innovative software solutions and guiding complex development projects in healthcare, education, retail, and other industries</div>
</div>
<div class="landing-list__item" animation="fade-up" animation-delay="0.2">
<svg class="landing-list__item-icon">
<use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#check"></use>
</svg>
<div class="landing-list__item-text"><b> We are innovative.</b> We know modern tech inside and out and continuously monitor the tech market trends to help our clients gain a competitive edge with disruptive technology</div>
</div>
</div>
<div class="landing-list__col">
<div class="landing-list__item" animation="fade-up" animation-delay="0.1">
<svg class="landing-list__item-icon">
<use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#check"></use>
</svg>
<div class="landing-list__item-text"><b>We are visionary.</b> We don’t only implement technology, although that’s what we competently do, but help you shape your company’s vision and translate it into an actionable technology strategy
</div>
</div>
<div class="landing-list__item" animation="fade-up" animation-delay="0.3">
<svg class="landing-list__item-icon">
<use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#check"></use>
</svg>
<div class="landing-list__item-text"><b> We care. </b>Partnering with our clients on a CTO as a service basis, we deep dive into every project to deliver excellence and take full responsibility for the success of technology in your project
</div>
</div>
</div>
</div>
</div>
<div class="post-block__content post-block__content_text">
<button class="block__button button arrow-link arrow-link arrow-link_fixed-opacity landing-list__button" id="cta-why-itrex"
data-popup="#form" href="#form" animation="fade-up" animation-delay=".15"><span class="arrow-link__text">Go for CTO as a <span style="white-space: nowrap">Service<span class="arrow-link__arrow"><span class="arrow-link__arrow_back arrow-link__arrow_black">→</span><span class="arrow-link__arrow_front arrow-link__arrow_black">→</span></span></span></span></button>
</div>
</div>
</div>
{% block precious_clients %}
<div class="block" id="clients" cta-text="Get your optimum solution">
            <div class="block__content">
                <h2 class="block__title" animation="fade-up" animation-delay=".15">Hungry for every
                    client’s success</h2>
                <div class="clients" animation="fade-up" animation-delay=".15">
                    <div class="clients__list">
                        {% if clientDetails %}
                            {% for x in clientDetails %}
                                <img class="clients__link" src="{{ x.client_logo.url }}" alt="{{ x.client_name }}"
                                     style="width: 150px;height: 150px"/>
                            {% endfor %}
                        {% endif %}
                        <div class="clients__append"></div>
                    </div>
                </div>
            </div>
            {% if clientDetails %}
                <div class="block__content block__content_black block__content_auto block__content_scroll-tablet">
                    <div class="reviews" animation="fade-up" animation-delay=".15">
                        <div class="reviews__content">
                            {% for client in clientDetails %}
                                {% if client.client_quote %}
                                    {% if forloop.counter == 1 %}
                                        <div class="reviews__item" style="visibility: visible;">
                                            <div class="reviews__title">
                                                {{ client.client_quote }}
                                            </div>
                                            <div class="reviews__author">
                                                <div class="reviews__author-image">
                                                    <img src="{{ client.client_logo.url }}"
                                                         alt="{{ client.client_name }}"></div>
                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">{{ client.client_name }}</div>
                                                    <div class="reviews__author-position">{{ client.client_mail }}</div>
                                                    <div class="reviews__author-company">{{ client.client_address }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="reviews__item">
                                            <div class="reviews__title">
                                                {{ client.client_quote }}
                                            </div>
                                            <div class="reviews__author">
                                                <div class="reviews__author-image">
                                                    <img src="{{ client.client_logo.url }}"
                                                         alt="{{ client.client_name }}"></div>
                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">{{ client.client_name }}</div>
                                                    <div class="reviews__author-position">{{ client.client_mail }}</div>
                                                    <div class="reviews__author-company">{{ client.client_address }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock precious_clients %}

{% block project_content %}
{% if projectDetails %}
                <div class="block block_z-index-up block_relative" id="projects"
                     cta-text="get your project's optimum solution">
                    <div class="block__content">
                        <div class="post-title">
                            <h2 class="block__title post-title__title" animation="fade-up" animation-delay=".15">
                                Our Latest projects
                            </h2>
                        </div>
                    </div>
                    <div class="block__scroll block__scroll_tablet" scroll-destination="posts" animation="fade-up"
                         animation-delay=".15">
                        <div class="posts-list posts-list_slider">
                            <svg style="position: absolute;pointer-events: none" width="0" height="0">
                                <defs>
                                    <clipPath id="thinking-mask" clipPathUnits="objectBoundingBox">
                                        <rect x="0" y="0" width="1" height="1"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            {% for project in projectDetails %}
                                {% if forloop.counter == 1 %}
                                <div class="post post_slider" style="position: relative;visibility: visible">
                                    <div class="post__info">
                                        <div class="post__company">{{ project.project_client }}</div>
                                        <a class="post__title arrow-link arrow-link_fixed-opacity"
                                           href="{% url 'project-details' project.project_slug %}"><span
                                                class="arrow-link__text">{{ project.project_title }}<span
                                                class="arrow-link__arrow"><span
                                                class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                                class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                                    </div>
                                    <a class="post__image" loading="lazy"
                                       href="{% url 'project-details' project.project_slug %}">
                                        <img loading="lazy" src="{{ project.project_preview.url }}"
                                             alt="{{ project.project_title }}">
                                    </a>
                                </div>
                                {% else %}
                                    <div class="post post_slider">
                                    <div class="post__info">
                                        <div class="post__company">{{ project.project_client }}</div>
                                        <a class="post__title arrow-link arrow-link_fixed-opacity"
                                           href="{% url 'project-details' project.project_slug %}"><span
                                                class="arrow-link__text">{{ project.project_title }}<span
                                                class="arrow-link__arrow"><span
                                                class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                                class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                                    </div>
                                    <a class="post__image" loading="lazy"
                                       href="{% url 'project-details' project.project_slug %}">
                                        <img loading="lazy" src="{{ project.project_preview.url }}"
                                             alt="{{ project.project_title }}">
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <div class="posts-list__controlls">
                                <div class="posts-list__ui">
                                    <div class="posts-list__button posts-list__button_left" id="post-prev-item">
                                        <svg class="icon">
                                            <use href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#arrow-left"></use>
                                        </svg>
                                    </div>
                                    <div class="posts-list__button posts-list__button_right" id="post-next-item">
                                        <svg class="icon">
                                            <use href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
{% endblock project_content %}
</div>
{% endblock main_content %}