{% extends 'base.html' %}
{% load static %}
{% block body_tag %}
    <body class="home page-template-default page">
{% endblock body_tag %}

{% block sidebar_nav_bar %}
{% endblock sidebar_nav_bar %}
{% block main_content %}
    <div class="contact-us-page block block_full block_nav">
        <div class="contact-us-page__content">
            <div class="contact-us-page__info">
                <h2 class="contact-us-page__title">Get
                    in touch
                </h2>
                <div class="contact-us-page__contacts">
                    <a class="contact-us-page__link" href="mailto:hello@itrexgroup.com" target="" id="contacts-1">hello@Aztech.com</a>
                    <br/> <a class="contact-us-page__link" href="tel:+1 213 436 7785" target="" id="contacts-2">+880 1712-500637</a>
                </div>
            </div>
            <div class="form form_dark" hf-data="hf-data">
                <div role="form" class="wpcf7" id="wpcf7-f22-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                    </div>
                    <form action="/contact-us/#wpcf7-f22-o1" method="post" class="wpcf7-form init"
                          novalidate="novalidate"
                          data-status="init">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="22"/>
                            <input type="hidden" name="_wpcf7_version" value="5.3.2"/>
                            <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f22-o1"/>
                            <input type="hidden" name="_wpcf7_container_post" value="0"/>
                            <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
                            <input type="hidden" name="_wpcf7_recaptcha_response" value=""/>
                        </div>
                        <input type="hidden" name="hf-source" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-medium" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-campaign" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-clientid" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-keyword" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-content" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-referrer" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-popup" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-ip" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-country" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-city" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-timezone" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-country_calling_code" value=""
                               class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-original-source" value=""
                               class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-source2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-medium2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-campaign2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-clientid2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-keyword2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-content2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-popup2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-referrer2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-cta2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-ip2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-country2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-city2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-timezone2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-country_calling_code2" value=""
                               class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-landing2" value="" class="wpcf7-form-control wpcf7-hidden"/>
                        <input type="hidden" name="hf-conversion_page2" value=""
                               class="wpcf7-form-control wpcf7-hidden"/>
                        <label for="wpcf7-60e478194ef8c-field" class="hp-message">Please leave this field
                            empty.</label><input id="wpcf7-60e478194ef8c-field"
                                                 class="wpcf7-form-control wpcf7-text hp-input" type="text"
                                                 name="honeypot-720" value="" size="40" tabindex="-1"
                                                 autocomplete="new-password"/>
                        <div class="field field_dark" validation="required">
                            <input type="text" name="your-name" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required field__input"
                                   aria-required="true" aria-invalid="false" placeholder="Name*"/>
                            <div class="field__status"></div>
                            <div class="field__line"></div>
                        </div>
                        <div class="field field_dark" validation="required,email">
                            <input type="email" name="email" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email field__input"
                                   aria-required="true" aria-invalid="false" placeholder="Email*"/>
                            <div class="field__status"></div>
                            <div class="field__line"></div>
                        </div>
                        <div class="field field_dark" validation="phone">
                            <input type="tel" name="phone" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel field__input"
                                   aria-invalid="false" placeholder="Phone"/>
                            <div class="field__status"></div>
                            <div class="field__line"></div>
                        </div>
                        <div class="field field_dark" validation="required">
                        <textarea name="message" cols="40" rows="10"
                                  class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required field__textarea"
                                  aria-required="true" aria-invalid="false" placeholder="Message*"></textarea>
                            <div class="field__status"></div>
                            <div class="field__line"></div>
                        </div>
                        <div class="form__label">We will process your personal information in accordance with our <a
                                href="https://itrexgroup.com/privacy-policy/" target="_blank">Privacy Policy.</a></div>
                        <div class="radio radio_dark">
                            <input type="checkbox" name="subscribe" value="1" aria-invalid="false" class="radio__input"
                                   id="subscribe"/></span>
                            <label class="radio__label" for="subscribe"></label>
                            <label class="radio__text" for="subscribe">I would like to be contacted with news and
                                updates
                                about your events and services</label>
                        </div>
                        <div class="form__submit" id="form-submit">Send message<span>→</span></div>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block footer_upper %}
{% endblock footer_upper %}
{% block footer_down %}
{% endblock footer_down %}
