{% extends 'base.html' %}
{% load static %}
{% block body_tag %}
    <body class="home page-template-default page">
{% endblock body_tag %}

{% block header_nav_bar %}
    <nav class="navigation" style="display: none;text-decoration-color: white;">
        <a class="navigation__logo" href="{% url 'contact' %}">
            {% if companyInfo %}
                <img src="{{ companyInfo.company_logo.url }}" alt="{{ companyInfo.company_name }}"/>
            {% else %}
                Aztech
            {% endif %}
        </a>
        <button class="navigation__burger"><span></span><span></span></button>
        <div class="navigation__items">
            <div class="navigation__header">
                <a class="navigation__logo" href="{% url 'contact' %}">
                    {% if companyInfo %}
                        <img src="{{ companyInfo.company_logo.url }}" alt="{{ companyInfo.company_name }}"/>
                    {% else %}
                        Aztech
                    {% endif %}
                </a>
                <button class="navigation__back" style="display: none">
                    <a class="icon icon_white" href="{% url 'contact' %}">
                        {% if companyInfo %}
                            {{ companyInfo.company_name }}
                        {% else %}
                            Aztech
                        {% endif %}
                    </a>
                </button>
            </div>
            <div class="navigation__breadcrumbs"></div>
            <a class="navigation__item" href="{% url 'about' %}" target="">About</a>
            <div class="navigation__item navigation__item_submenu">
                <a href="" target="" disabled>Services</a>
                <div class="navigation__open-submenu"></div>
                <div class="navigation__submenu">
                    <div class="navigation__list">
                        <div class="navigation__link navigation__link_list">
                            <a href="{% url 'sAI' %}" target="">Artificial Intelligence</a>
                            <div class="navigation__open-sublist"></div>
                            <div class="navigation__list">
                                <a class="navigation__link" href="{% url 'sAI_retail' %}" target="">AI for Retail</a>
                                <a class="navigation__link" href="{% url 'sAI_health' %}" target="">AI for
                                    Healthcare</a>
                                <a class="navigation__link" href="{% url 'sAI_education' %}" target="">AI for
                                    Education</a>
                                <a class="navigation__link" href="{% url 'sAI_automation' %}" target="">AI for
                                    Automation</a>
                            </div>
                        </div>
{#                        <a class="navigation__link" href="{% url 'sAugReality' %}" target="">Augmented Reality</a>#}
{#                        <a class="navigation__link" href="{% url 'sCloud' %}" target="">Cloud</a>#}
{#                        <a class="navigation__link" href="{% url 'sDataConsulting' %}" target="">Data Consultation</a>#}
{#                        <a class="navigation__link" href="{% url 'sDevops' %}" target="">DevOps</a>#}
                        <a class="navigation__link" href="{% url 'sTeam' %}" target="">Dedicated Team</a>
                        <a class="navigation__link" href="{% url 'sAppDevelopment' %}" target="">Apps Development</a>
                        <a class="navigation__link" href="{% url 'sDigiTransform' %}" target="">Digital Transformation</a>
                        <a class="navigation__link" href="{% url 'sTechnologyConsulting' %}" target="">Technology Consulting</a>
                        <a class="navigation__link" href="{% url 'sSoftwareTesting' %}" target="">Software Testing</a>
                        <a class="navigation__link" href="{% url 'sTeamCto' %}" target="">Cost Optimization</a>
                    </div>
                </div>
            </div>
            <div class="navigation__item navigation__item_submenu">
                <a href="" target="">Programme</a>
                <div class="navigation__open-submenu"></div>
                <div class="navigation__submenu">
                    <div class="navigation__list">
                        <a class="navigation__link" href="{% url 'eCommerce' %}" target="">e-Commerce</a>
                        <a class="navigation__link" href="{% url 'eLearning' %}" target="">e-Learning</a>
{#                            <a class="navigation__link" href="{% url 'eHealthSoft' %}" target="">Biotech Software</a>#}
                        <a class="navigation__link" href="{% url 'eHealthApp' %}" target="">e-HealthCare</a>
                        <a class="navigation__link" href="{% url 'eRetail' %}" target="">e-Retail</a>
                        <a class="navigation__link" href="{% url 'eLogistics' %}" target="">Logistics & Transportation</a>
                    </div>
                </div>
            </div>
            <a class="navigation__item" href="{% url 'blog' %}" target="">Blog</a>
            <a class="navigation__item" href="{% url 'job_portal' %}" target="">Careers</a>
            <a class="navigation__item" href="{% url 'contact' %}" target="">Contact Us</a>
            <div class="navigation__footer">
                <div class="navigation__socials">
                    <a class="social" href="{% if companyInfo %}{{ companyInfo.company_linkedin }}{% endif %}"
                       target="_blank" id="menu-social-1">
                        <img src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/socials/linkedin.svg"/>
                    </a>
                    <a class="social" href="{% if companyInfo %}{{ companyInfo.company_facebook }}{% endif %}"
                       target="_blank" id="menu-social-2">
                        <img src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/socials/facebook.svg"/>
                    </a>
                    <a class="social" href="{% if companyInfo %}{{ companyInfo.company_instagram }}{% endif %}"
                       target="_blank" id="menu-social-3">
                        <img src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/socials/instagram.svg"/>
                    </a>
                    <a class="social" href="{% if companyInfo %}{{ companyInfo.company_youtube }}{% endif %}"
                       target="_blank"
                       id="menu-social-4">
                        <img src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/socials/youtube.svg"/>
                    </a>
                </div>
                <div class="navigation__contacts">
                    {% if companyInfo %}
                    <a href="mailto:{{ companyInfo.company_mail }}" target="_blank" id="menu-contacts-1">{{ companyInfo.company_mail }}</a>
                    <a href="tel:{{ companyInfo.company_phone }}" target="_blank" id="menu-contacts-2">{{ companyInfo.company_phone }}</a>
                    {% endif %}
                </div>
                <div class="navigation__pages">
                    <a class="arrow-link" href="{% url 'contact' %}" target="" id="menu-page-1">
                        <span class="arrow-link__text">Contact us</span>
                        <span class="arrow-link__arrow"><span
                                class="arrow-link__arrow_static arrow-link__arrow_blue">→</span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock header_nav_bar %}


{% block navbar_style %}
    <style>
.navigation > .navigation__logo,
.navigation__item,
.navigation__burger {
color: #000000;
}
.navigation__item_active {
color: #445aec;
}
@media only screen and (min-width: 961px) {
.navigation__item:hover {
color: #445aec;
}
}
</style>
{% endblock navbar_style %}

{% block sidebar_nav_bar %}
    <div class="scroll-bar"></div>
{% endblock sidebar_nav_bar %}
{% block main_content %}
    <div class="wrapper">
        <div class="block block_slide-min block_yellow block_nav block_overflow" id="index"
             cta-text="Let's discuss your challenge">
            <div class="block__content">
                <div class="slider">
                    <div class="slider__content">
                        <div class="slider__item" style="visibility: visible">
                            <div class="slider__info" block-max-height="block-max-height">
                                <h1 class="slider__title">Hungry
                                    for challenges</h1>
                                <p class="slider__text">
                                    We are a software development and consulting company that creates and transforms products and enterprises  <span class="mark mark_green">to drive growth</span>.
                                </p>
                            </div>
                            <div class="slider__picture">
                                <picture>
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/111-720x720.jpg"
                                            type="image/jpeg" media="(max-width: 1440px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/111-512x512.jpg"
                                            type="image/jpeg" media="(max-width: 512px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/111-1024x1024.jpg"
                                            type="image/jpeg">
                                    <img src="https://itrexgroup.com/wp-content/uploads/2020/11/111-1024x1024.jpg"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__info" block-max-height="block-max-height">
                                <h2 class="slider__title">Hungry
                                    for impact</h2>
                                <p class="slider__text">
                                    We think in terms of value, not technology.  <span class="mark mark_green">We deep dive</span>  into your business to deliver innovations tailored to your business needs.</p>
                            </div>
                            <div class="slider__picture">
                                <picture>
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/3-11-720x720.jpg"
                                            type="image/jpeg" media="(max-width: 1440px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/3-11-512x512.jpg"
                                            type="image/jpeg" media="(max-width: 512px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/3-11-1024x1024.jpg"
                                            type="image/jpeg">
                                    <img src="https://itrexgroup.com/wp-content/uploads/2020/11/3-11-1024x1024.jpg"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__info" block-max-height="block-max-height">
                                <h2 class="slider__title">Hungry
                                    for more</h2>
                                <p class="slider__text">
                                    Using a tech-agnostic approach,  <span class="mark mark_green">We provide</span> the right blend of software and hardware solutions that let you capture the full value of tech.</p>
                            </div>
                            <div class="slider__picture">
                                <picture>
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/2-11-720x720.jpg"
                                            type="image/jpeg" media="(max-width: 1440px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/2-11-512x512.jpg"
                                            type="image/jpeg" media="(max-width: 512px)">
                                    <source srcset="https://itrexgroup.com/wp-content/uploads/2020/11/2-11-1024x1024.jpg"
                                            type="image/jpeg">
                                    <img src="https://itrexgroup.com/wp-content/uploads/2020/11/2-11-1024x1024.jpg"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="slider__progress">
                            <div class="slider__progress-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block" id="clients" cta-text="Get your optimum solution">
            <div class="block__content">
                <h2 class="block__title" animation="fade-up" animation-delay=".15">Hungry for every
                    client’s success</h2>
                <div class="clients" animation="fade-up" animation-delay=".15">
                    <div class="clients__list">
                        <a class="clients__link" href="https://www.foxcorporation.com" target="_blank">
                            <svg class="clients__logo" style="width: 123px;height: 44px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#21st-Century-Fox-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.dollarshaveclub.com" target="_blank">
                            <svg class="clients__logo" style="width: 223px;height: 41px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#dollar-shave-club-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.dnb.com" target="_blank">
                            <svg class="clients__logo" style="width: 200px;height: 31px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#dun-bradstreet-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.jibjab.com" target="_blank">
                            <svg class="clients__logo" style="width: 63px;height: 54px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#JibJab-brand-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.potentiametrics.com" target="_blank">
                            <svg class="clients__logo" style="width: 200px;height: 38px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#MyCancerJourny-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.potentiametrics.com" target="_blank">
                            <svg class="clients__logo" style="width: 226px;height: 34px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#pm-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://us.pg.com" target="_blank">
                            <svg class="clients__logo" style="width: 73px;height: 32px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#PG-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.poplidays.com/en/home" target="_blank">
                            <svg class="clients__logo" style="width: 143px;height: 34px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#Poplidays-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.tasconline.com" target="_blank">
                            <svg class="clients__logo" style="width: 121px;height: 47px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#tasc-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.telenav.com" target="_blank">
                            <svg class="clients__logo" style="width: 166px;height: 27px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#telenav-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.honest.com" target="_blank">
                            <svg class="clients__logo" style="width: 52px;height: 52px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#The-Honest-Co-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://turvo.com" target="_blank">
                            <svg class="clients__logo" style="width: 129px;height: 34px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#Turvo-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.uei.com" target="_blank">
                            <svg class="clients__logo" style="width: 148px;height: 54px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#UE-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.walmart.com" target="_blank">
                            <svg class="clients__logo" style="width: 144px;height: 35px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#Walmart-logo"></use>
                            </svg>
                        </a>
                        <a class="clients__link" href="https://www.warnerbros.com" target="_blank">
                            <svg class="clients__logo" style="width: 52px;height: 54px">
                                <use xlink:href="https://itrexgroup.com/wp-content/uploads/2020/06/clients.svg#Warner-Bros-logo"></use>
                            </svg>
                        </a>
                        <div class="clients__append"></div>
                    </div>
                </div>
            </div>
            <div class="block__content block__content_black block__content_auto block__content_scroll-tablet">
                <div class="reviews" animation="fade-up" animation-delay=".15">
                    <div class="reviews__content">
                        <div class="reviews__item" style="visibility: visible">
                            <div class="reviews__title">Itrex’s team are experts in their trade. The software
                                development
                                they provided was critical to advancing the project to the next level.
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__author-image"><img
                                        src="https://itrexgroup.com/wp-content/uploads/2020/06/Jeff-Block-150x150.jpg"
                                        alt="Jeff Block"></div>
                                <div class="reviews__author-info">
                                    <div class="reviews__author-name">Jeff Block</div>
                                    <div class="reviews__author-position">VP of Process and Technology</div>
                                    <div class="reviews__author-company">PotentiaMetrics, Inc.</div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__item">
                            <div class="reviews__title">When you hire them, you're actually going to get something
                                valuable.
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__author-image"><img
                                        src="https://itrexgroup.com/wp-content/uploads/2020/06/Daniel-Schuler-150x150.jpg"
                                        alt="Daniel Schuler"></div>
                                <div class="reviews__author-info">
                                    <div class="reviews__author-name">Daniel Schuler</div>
                                    <div class="reviews__author-position">CTO</div>
                                    <div class="reviews__author-company">Hyginex</div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__item">
                            <div class="reviews__title">Itrex is an outstanding partner. They don't even feel like a
                                contractor, but more like a fully integrated team.
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__author-image"><img
                                        src="https://itrexgroup.com/wp-content/uploads/2020/06/author-1.jpg"
                                        alt="Ashley Lewis"></div>
                                <div class="reviews__author-info">
                                    <div class="reviews__author-name">Ashley Lewis</div>
                                    <div class="reviews__author-position">Director of Product Management</div>
                                    <div class="reviews__author-company">Dollar Shave Club</div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__ui">
                            <div class="reviews__button reviews__button_left" id="review-prev-item">
                                <svg class="icon icon_white">
                                    <use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#arrow-left"></use>
                                </svg>
                            </div>
                            <div class="reviews__button reviews__button_right" id="review-next-item">
                                <svg class="icon icon_white">
                                    <use xlink:href="https://itrexgroup.com/wp-content/themes/itrex/assets/images/icons.svg?ver=1.5#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block_slide-min block_relative" id="we-do" cta-text="Get your optimum solution" tabs-block>
            <div class="block__content" auto-size-padding="we-do">
                <h2 class="block__title" animation="fade-up" animation-delay=".15" auto-size="we-do">Challenges we
                    are hungry for</h2>
            </div>
            <div class="block__content block__content_mt_auto" auto-size-height="we-do">
                <div class="tabs-wrapper"></div>
                <div class="tabs" animation="fade-up" animation-delay=".15">
                    <div class="tabs__header tabs__header_opened">
                        <h3 class="tabs__tab" id="tab-1">Bring digital transformation down to earth
                            <div class="tabs__indicator"><span style="transform: translateY(-0.75em)">↓</span></div>
                        </h3>
                        <div class="tabs__item" style="visibility: hidden; position: absolute">
                            <div class="tabs__content">
                                <div class="tabs__text">Digital transformation may feel like an incredible challenge
                                    that
                                    brings risks and uncertainties. And it actually is. We believe in starting smart and
                                    simple to translate complexity into an easily digestible roadmap for change. We help
                                    you
                                    pivot to new technology step-by-step while getting most out of your legacy
                                    systems<img
                                            class="tabs__text-logo"
                                            src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                            alt="ITRex" role="presentation"/></div>
                                <div class="tabs__tags">
                                    <div class="tabs__tag">Digital Transformation Strategy</div>
                                    <div class="tabs__tag">Digital Transformation Implementation</div>
                                    <div class="tabs__tag">Application Modernization</div>
                                    <div class="tabs__tag">Software Modernization</div>
                                    <div class="tabs__tag">Digital Product Deleopment</div>
                                    <div class="tabs__tag">Cloud Migration</div>
                                    <div class="tabs__tag">Big Data &amp; Analytics</div>
                                    <div class="tabs__tag">Digital Workforce</div>
                                </div>
                            </div>
                        </div>
                        <h3 class="tabs__tab" id="tab-2" active-tab>Test, fail fast, build and scale for growth
                            <div class="tabs__indicator"><span>↓</span></div>
                        </h3>
                        <div class="tabs__item" style="visibility: visible; position: relative" active-tab>
                            <div class="tabs__content">
                                <div class="tabs__text">Be it an innovative consumer app or a next-gen enterprise system
                                    –
                                    we do it all, from product ideation and concept development to system rollout and
                                    scale-up. We envision, prototype, create and test products and solutions to find new
                                    competitive advantage for your business<img class="tabs__text-logo"
                                                                                src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                                                                alt="ITRex" role="presentation"/></div>
                                <div class="tabs__tags">
                                    <div class="tabs__tag">Mobile Apps</div>
                                    <div class="tabs__tag">Web Apps</div>
                                    <div class="tabs__tag">Cloud Apps</div>
                                    <div class="tabs__tag">Embedded Software</div>
                                    <div class="tabs__tag">Data Platforms</div>
                                    <div class="tabs__tag">Enterprise Software Development</div>
                                </div>
                            </div>
                        </div>
                        <h3 class="tabs__tab" id="tab-3">Turn emerging technologies into profit
                            <div class="tabs__indicator"><span style="transform: translateY(-0.75em)">↓</span></div>
                        </h3>
                        <div class="tabs__item" style="visibility: hidden; position: absolute">
                            <div class="tabs__content">
                                <div class="tabs__text">
                                    We make sure you are not adopting a technology just because it’s fancy. Our goal is
                                    to turn innovations into a market-ready product to help you achieve operational
                                    excellence, disrupt the competition and maximize profits
                                    <img class="tabs__text-logo"
                                         src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                         alt="ITRex" role="presentation"/></div>
                                <div class="tabs__tags">
                                    <div class="tabs__tag">Artificial Intelligence</div>
                                    <div class="tabs__tag">Extended Reality: AR, VR</div>
                                    <div class="tabs__tag">IoT</div>
                                    <div class="tabs__tag">Automation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__item" style="visibility: hidden; position: absolute">
                        <div class="tabs__content">
                            <div class="tabs__text">
                                Digital transformation may feel like an incredible challenge that brings risks and
                                uncertainties. And it actually is. We believe in starting smart and simple to translate
                                complexity into an easily digestible roadmap for change. We help you pivot to new
                                technology step-by-step while getting most out of your legacy systems
                                <img class="tabs__text-logo"
                                     src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                     alt="ITRex" role="presentation"/>
                            </div>
                            <div class="tabs__tags">
                                <div class="tabs__tag">Digital Transformation Strategy</div>
                                {#                                <div class="tabs__tag">Digital Transformation Implementation</div>#}
                                <div class="tabs__tag">Digital Workforce</div>
                                <div class="tabs__tag">Application Modernization</div>
                                <div class="tabs__tag">Software Modernization</div>
                                <div class="tabs__tag">Big Data &amp; Analytics</div>
                                <div class="tabs__tag">Digital Product Deleopment</div>
                                {#                                <div class="tabs__tag">Cloud Migration</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="tabs__item" style="visibility: visible; position: relative" active-tab>
                        <div class="tabs__content">
                            <div class="tabs__text">Be it an innovative consumer app or a next-gen enterprise system –
                                we do
                                it all, from product ideation and concept development to system rollout and scale-up. We
                                envision, prototype, create and test products and solutions to find new competitive
                                advantage for your business
                                <img class="tabs__text-logo"
                                     src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                     alt="ITRex" role="presentation"/>
                            </div>
                            <div class="tabs__tags">
                                <div class="tabs__tag">Mobile Apps</div>
                                <div class="tabs__tag">Web Apps</div>
                                <div class="tabs__tag">Cloud Apps</div>
                                <div class="tabs__tag">Embedded Software</div>
                                <div class="tabs__tag">Data Platforms</div>
                                <div class="tabs__tag">Enterprise Software Development</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__item" style="visibility: hidden; position: absolute">
                        <div class="tabs__content">
                            <div class="tabs__text">
                                We make sure you are not adopting a technology just because it’s fancy. Our goal is to
                                turn innovations into a market-ready product to help you achieve operational excellence,
                                disrupt the competition and maximize profits
                                <img class="tabs__text-logo"
                                     src="https://itrexgroup.com/wp-content/themes/itrex/assets/images/itrex-logo.svg"
                                     alt="ITRex"
                                     role="presentation"/></div>
                            <div class="tabs__tags">
                                <div class="tabs__tag">Artificial Intelligence</div>
                                <div class="tabs__tag">Extended Reality: AR, VR</div>
                                <div class="tabs__tag">IoT</div>
                                <div class="tabs__tag">Automation</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block_z-index-up block_relative" id="work" cta-text="Get your optimum solution">
            <div class="block__content">
                <div class="post-title">
                    <h2 class="block__title post-title__title" animation="fade-up" animation-delay=".15">Latest
                        projects</h2>
                </div>
            </div>
            <div class="block__scroll block__scroll_tablet" scroll-destination="posts">
                <div class="posts-list">
                    <div class="post" animation="fade-up" animation-delay=".15">
                        <div class="post__info">
                            <div class="post__company">Global Retailer</div>
                            <a class="post__title arrow-link arrow-link_fixed-opacity"
                               href="https://itrexgroup.com/case-studies/ai-powered-big-data-platform-for-retail/"><span
                                    class="arrow-link__text">AI-powered self-service BI and big data platform for the world's leading </span><span
                                    style="white-space: nowrap">retailer<span class="arrow-link__arrow"><span
                                    class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                    class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                        </div>
                        <a class="post__image" loading="lazy"
                           href="https://itrexgroup.com/case-studies/ai-powered-big-data-platform-for-retail/">
                            <picture>
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1.jpg"
                                        type="image/jpeg" media="(max-width: 2880px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1-1024x737.jpg"
                                        type="image/jpeg" media="(max-width: 2048px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1-720x518.jpg"
                                        type="image/jpeg" media="(max-width: 720px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1-512x369.jpg"
                                        type="image/jpeg" media="(max-width: 512px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1.jpg"
                                        type="image/jpeg">
                                <img loading="lazy"
                                     data-src="https://itrexgroup.com/wp-content/uploads/2020/06/wallmart_1.jpg"
                                     alt="AI-powered Big Data Platform">
                            </picture>
                        </a>
                    </div>
                    <div class="post" animation="fade-up" animation-delay=".15">
                        <div class="post__info">
                            <div class="post__company">Dollar Shave Club</div>
                            <a class="post__title arrow-link arrow-link_fixed-opacity"
                               href="https://itrexgroup.com/case-studies/dollar-shave-club-android-app/"><span
                                    class="arrow-link__text">The Dollar Shave Club Android app for shaving products </span><span
                                    style="white-space: nowrap">delivery<span class="arrow-link__arrow"><span
                                    class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                    class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                        </div>
                        <a class="post__image" loading="lazy"
                           href="https://itrexgroup.com/case-studies/dollar-shave-club-android-app/">
                            <picture>
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club.jpg"
                                        type="image/jpeg" media="(max-width: 2880px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club.jpg"
                                        type="image/jpeg" media="(max-width: 2048px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club-720x368.jpg"
                                        type="image/jpeg" media="(max-width: 720px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club-512x261.jpg"
                                        type="image/jpeg" media="(max-width: 512px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club.jpg"
                                        type="image/jpeg">
                                <img loading="lazy"
                                     data-src="https://itrexgroup.com/wp-content/uploads/2020/07/dollar-shave-club.jpg"
                                     alt="The Dollar Shave Club App">
                            </picture>
                        </a>
                    </div>
                    <div class="post" animation="fade-up" animation-delay=".15">
                        <div class="post__info">
                            <div class="post__company">PotentiaMetrics</div>
                            <a class="post__title arrow-link arrow-link_fixed-opacity"
                               href="https://itrexgroup.com/case-studies/ai-platform-for-cancer-prognosis/"><span
                                    class="arrow-link__text">AI platform for PotentialMetrics to improve cancer prognostic </span><span
                                    style="white-space: nowrap">accuracy<span class="arrow-link__arrow"><span
                                    class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                    class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                        </div>
                        <a class="post__image" loading="lazy"
                           href="https://itrexgroup.com/case-studies/ai-platform-for-cancer-prognosis/">
                            <picture>
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-health.jpg"
                                        type="image/jpeg" media="(max-width: 2880px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-health-1024x731.jpg"
                                        type="image/jpeg" media="(max-width: 2048px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-health-720x514.jpg"
                                        type="image/jpeg" media="(max-width: 720px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-health-512x366.jpg"
                                        type="image/jpeg" media="(max-width: 512px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-health.jpg"
                                        type="image/jpeg">
                                <img loading="lazy"
                                     data-src="https://itrexgroup.com/wp-content/uploads/2020/06/case-health.jpg"
                                     alt="healthcare and medicine software development">
                            </picture>
                        </a>
                    </div>
                    <div class="post" animation="fade-up" animation-delay=".15">
                        <div class="post__info">
                            <div class="post__company">The Honest Company</div>
                            <a class="post__title arrow-link arrow-link_fixed-opacity"
                               href="https://itrexgroup.com/case-studies/the-honest-company-data-managements-analytics-solution/"><span
                                    class="arrow-link__text">Ecommerce data management and data analytics solution for the Honest </span><span
                                    style="white-space: nowrap">Company<span class="arrow-link__arrow"><span
                                    class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                    class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                        </div>
                        <a class="post__image" loading="lazy"
                           href="https://itrexgroup.com/case-studies/the-honest-company-data-managements-analytics-solution/">
                            <picture>
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany.jpg"
                                        type="image/jpeg" media="(max-width: 2880px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany-1024x737.jpg"
                                        type="image/jpeg" media="(max-width: 2048px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany-720x518.jpg"
                                        type="image/jpeg" media="(max-width: 720px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany-512x368.jpg"
                                        type="image/jpeg" media="(max-width: 512px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany.jpg"
                                        type="image/jpeg">
                                <img loading="lazy"
                                     data-src="https://itrexgroup.com/wp-content/uploads/2020/07/TheHonestCompany.jpg"
                                     alt="Ecommerce Data Management and Data Analytics The Honest Company">
                            </picture>
                        </a>
                    </div>
                    <div class="post" animation="fade-up" animation-delay=".15">
                        <div class="post__info">
                            <div class="post__company">Real-time collaborative logistics platform</div>
                            <a class="post__title arrow-link arrow-link_fixed-opacity"
                               href="https://itrexgroup.com/case-studies/ai-driven-iot-logistics-platform-predicts-and-manages-order/"><span
                                    class="arrow-link__text">AI-driven end-to-end IoT logistics platform for managing shipments across the </span><span
                                    style="white-space: nowrap">globe<span class="arrow-link__arrow"><span
                                    class="arrow-link__arrow_back arrow-link__arrow_blue">→</span><span
                                    class="arrow-link__arrow_front arrow-link__arrow_blue">→</span></span></span></a>
                        </div>
                        <a class="post__image" loading="lazy"
                           href="https://itrexgroup.com/case-studies/ai-driven-iot-logistics-platform-predicts-and-manages-order/">
                            <picture>
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics.jpg"
                                        type="image/jpeg" media="(max-width: 2880px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics-1024x731.jpg"
                                        type="image/jpeg" media="(max-width: 2048px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics-720x514.jpg"
                                        type="image/jpeg" media="(max-width: 720px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics-512x366.jpg"
                                        type="image/jpeg" media="(max-width: 512px)">
                                <source srcset="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics.jpg"
                                        type="image/jpeg">
                                <img loading="lazy"
                                     data-src="https://itrexgroup.com/wp-content/uploads/2020/06/case-logistics.jpg"
                                     alt="logistics software development">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-overflow">
            <div class="footer" auto-size-height="we-do">
                <div class="footer__content"><a class="footer__link" id="cta" href="#form"><span
                        class="footer__link-background footer__link-background_back"></span><span
                        class="footer__link-background footer__link-background_front"></span><span
                        class="footer__link-text"><span
                        class="footer__link-text-value">Let's discuss your challenge</span><span
                        class="footer__link-icon"><span class="footer__link-icon-first">→</span><span
                        class="footer__link-icon-second">→</span></span></span></a></div>
            </div>
        </div>
    </div>
{% endblock main_content %}
