Hey {{ participantName }}

I'm personally mailing you cause we value every participants.
We have read your message. Your cv & cover letter is in our review section.

After verifying your LinkedIn id: {{ participantLinkedIn }} & your Github profile: {{ participantGithub }}
We will shortlist our participants List, then we will contact you via your given phone number: {{ participantPhone }}
Till then, keep charging you phone. We will contact you anytime...

If you have any query,just call us at official phone: {{ companyPhone }} or mail us at: {{ companyMail }}

Owner of {{ companyName }}
Ishrak Latif